[user]
	name = Jack Magnus
	email = jackm@minobar.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
[alias]
	lg = log --decorate --oneline --graph
	la = log --all --decorate --oneline --graph
[merge]
	tool = vimdiff
[push]
	default = matching
