[user]
    name = Jack Magnus
    email = jack.magnus@jadomag.com
[core]
    editor = vim
    excludesfile = ~/.excludesfile
    whitespace = trailing-space,space-before-tab
[alias]
    lg = log --decorate --oneline --graph
    la = log --all --decorate --oneline --graph
    sub = restore --staged
[merge]
    tool = vimdiff
[pull]
    ff = only
[push]
    default = current
[log]
	date = iso
[apply]
    whitespace = fix
