[user]
    name = Jack Magnus
    email = jckmgns@gmail.com
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
[alias]
    lg = log --decorate --oneline --graph
    la = log --all --decorate --oneline --graph
[merge]
    tool = vimdiff
    ff = only
[push]
    default = simple
[log]
	date = iso
