! ------------------------------------------------------------
! Urxvt Config
! ------------------------------------------------------------
! URxvt.font: 		xft:Roboto Mono:pixelsize=13:antialias=true
URxvt.font:         -xos4-terminus-medium-r-normal--14-140-72-72-c-80-iso10646-1
URxvt.bold.font:    -xos4-terminus-bold-r-normal--14-140-72-72-c-80-iso10646-1
! see below for all terminus names

! 'fake' transparency
! URxvt.transparent: false
! URxvt.shading: 10

! 'real' transparency
! urxvt.depth: 32
! rgba: rgba:0000/0000/0000/dddd

URxvt.scrollBar:	false

! 'enable' word jumping
URxvt.keysym.Control-Up:     \033[1;5A
URxvt.keysym.Control-Down:   \033[1;5B
URxvt.keysym.Control-Left:   \033[1;5D
URxvt.keysym.Control-Right:  \033[1;5C
! ------------------------------------------------------------
! color scheme
! ------------------------------------------------------------
*.foreground:   #d8d8d8
*.background:   #181818
*.cursorColor:  #d8d8d8

*.color0:       #181818
*.color1:       #ab4642
*.color2:       #a1b56c
*.color3:       #f7ca88
*.color4:       #7cafc2
*.color5:       #ba8baf
*.color6:       #86c1b9
*.color7:       #d8d8d8

*.color8:       #585858
*.color9:       #ab4642
*.color10:      #a1b56c
*.color11:      #f7ca88
*.color12:      #7cafc2
*.color13:      #ba8baf
*.color14:      #86c1b9
*.color15:      #f8f8f8

! ------------------------------------------------------------  
! General Information
! ------------------------------------------------------------  
! The Terminus font uses the following X-names:

! -xos4-terminus-medium-r-normal--12-120-72-72-c-60-iso10646-1
! -xos4-terminus-bold-r-normal--12-120-72-72-c-60-iso10646-1

! -xos4-terminus-medium-r-normal--14-140-72-72-c-80-iso10646-1
! -xos4-terminus-bold-r-normal--14-140-72-72-c-80-iso10646-1

! -xos4-terminus-medium-r-normal--16-160-72-72-c-80-iso10646-1
! -xos4-terminus-bold-r-normal--16-160-72-72-c-80-iso10646-1

! -xos4-terminus-medium-r-normal--20-200-72-72-c-100-iso10646-1
! -xos4-terminus-bold-r-normal--20-200-72-72-c-100-iso10646-1

! -xos4-terminus-medium-r-normal--24-240-72-72-c-120-iso10646-1
! -xos4-terminus-bold-r-normal--24-240-72-72-c-120-iso10646-1

! -xos4-terminus-medium-r-normal--28-280-72-72-c-140-iso10646-1
! -xos4-terminus-bold-r-normal--28-280-72-72-c-140-iso10646-1

! -xos4-terminus-medium-r-normal--32-320-72-72-c-160-iso10646-1
! -xos4-terminus-bold-r-normal--32-320-72-72-c-160-iso10646-1
