! ------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------
!rofi.color-enabled: true
!rofi.separator-style: solid
!rofi.color-window: #383c4a, #383c4a, #2f343f
!rofi.color-normal: #383c4a, #c1c1c1, #383c4a, #4084d6, #ffffff
!rofi.color-active: #383c4a, #00bf8c, #383c4a, #00bf8c, #ffffff
!rofi.color-urgent: #383c4a, #e53935, #383c4a, #e53935, #ffffff

! ------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: argb:ee202020, #cccccc, #cccccc
rofi.color-normal: argb:0000000, #cccccc, argb:0000000, #cccccc, #333333
rofi.color-active: argb:0000000, #6699cc, argb:0000000, #6699cc, #333333
rofi.color-urgent: argb:0000000, #f95656, argb:0000000, #f95656, #333333
rofi.separator-style: solid

! ------------------------------------------------------------
! urxvt config
! ------------------------------------------------------------

! set font
URxvt.font: 		xft:Roboto Mono:pixelsize=14:antialias=true

! transparency
! URxvt.transparent: 	true
! URxvt.shading:		10

! 'real' transparency
urxvt.depth: 32
urxvt.background: rgba:0000/0000/0000/dddd

URxvt.scrollBar:	false

! ------------------------------------------------------------
! urxvt color scheme
! ------------------------------------------------------------

! base 16 default
! at least i think it is...

urxvt.foreground:   #d8d8d8
! urxvt.background:   #181818
urxvt.cursorColor:  #d8d8d8

urxvt.color0:       #181818
urxvt.color1:       #ab4642
urxvt.color2:       #a1b56c
urxvt.color3:       #f7ca88
urxvt.color4:       #7cafc2
urxvt.color5:       #ba8baf
urxvt.color6:       #86c1b9
urxvt.color7:       #d8d8d8

urxvt.color8:       #585858
urxvt.color9:       #ab4642
urxvt.color10:      #a1b56c
urxvt.color11:      #f7ca88
urxvt.color12:      #7cafc2
urxvt.color13:      #ba8baf
urxvt.color14:      #86c1b9
urxvt.color15:      #f8f8f8
