[user]
    name = Jack Magnus
    email = git@jadomag.com
[core]
    editor = nvim
    excludesfile = ~/.excludesfile
    whitespace = trailing-space,space-before-tab
[alias]
    lg = log --decorate --oneline --graph
    la = log --all --decorate --oneline --graph
    sub = restore --staged
[merge]
    tool = vimdiff
[pull]
    ff = only
[push]
    default = current
[log]
	date = iso
[apply]
    whitespace = fix
[column]
	ui = auto
[branch]
	sort = -committerdate
