[user]
    name = Jack Magnus
    email = git@jackmagnus.cc
[core]
    editor = nvim
    excludesfile = ~/.excludesfile
    whitespace = trailing-space,space-before-tab
[alias]
	cp = cherry-pick
    blc = blame -CCC -M -w
    co = checkout
    dfh = diff HEAD~
    la = log --all --decorate --oneline --graph
    lg = log --decorate --oneline --graph
    lns = log --name-status
    rs = restore --staged
    shs = show --name-status
    st = status
[merge]
    tool = vimdiff
[pull]
    ff = only
[push]
    default = current
[log]
	date = iso
[apply]
    whitespace = fix
[column]
	ui = auto
[branch]
	sort = -committerdate
